<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiamu.spring.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.xiamu.spring.dao.UserInfo">
            <id property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="describes" column="describes" jdbcType="VARCHAR"/>
            <result property="userPhone" column="user_phone" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,userName,describes,
        userPhone,birthday,age,
        sex,nickName,email
    </sql>

    <delete id="deleteByUserName" parameterType="string">
        DELETE FROM user_info
        <where>
            <if test="userName != null and userName != ''">
                user_name = #{userName,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <insert id="backUserInfo" parameterType="string">
        insert into user_info_back(uuid, user_name, describes, user_phone, birthday, age, sex, nick_name, email)  select * from user_info t
        <where>
            <if test="userName != null and userName != ''">
                t.user_name = #{userName,jdbcType=VARCHAR}
            </if>
        </where>
    </insert>
</mapper>
